<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!--    <link rel="stylesheet" href="css/reset.css" />-->
<!--    <link rel="stylesheet" href="css/styles.css" />-->
<!--    <link rel="stylesheet" href="css/home.css" />-->
    <title>#</title>
</head>

<body>
<div th:fragment="content">
<h2 class="pt-5">Featured Products</h2>
<h5>YUKI</h5>
<p>aaaaa</p>
<div class="content container-fluid text-center">
    <div class="row fly-in" id="row">
        <div class="col-8">
            <div id="featureditems">
                <div class="container-fluid">
                    <h1 class="py-5">Products</h1>
                    <div id="featureditems">
                        <div id='row' class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>-->
<!--<script src="js/featuredItems.js"></script>-->

</html>